.skills ul {
    list-style-type: none;
    padding: 0;
  }
  
  .skills li {
    display: inline-block;
    background-color: #61dafb;
    color: #282c34;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 20px;
    font-weight: bold;
  }
  